<div class="container" id="export-pdf">
  <div class="col1" > 
    <button mat-button (click)="onDownloadPdf()"> Export pdf</button>
   <div class="col2d">
            <mat-card class="">
              <app-q-one-tow-qtree></app-q-one-tow-qtree>
            </mat-card>       
        </div>
        <div class="col2d" >
            <app-twinty-one-ctg></app-twinty-one-ctg>
        </div>
        <div class="col2d">
            <app-twinty-one-qthree></app-twinty-one-qthree>
        </div>
        <div class="col2d">
            <app-twity-one></app-twity-one>
        </div>
        <div class="col2d">
            <app-twinty-one-cat-three></app-twinty-one-cat-three>
        </div>
        <div class="col2d">
            <app-top-cat-three></app-top-cat-three>
            <!-- //Top 10 category by format -->
        </div>
        <div class="col2d">
            <app-stack-twity-one></app-stack-twity-one>
            <!-- //stack of 2021 by format -->
        </div>
        <div class="col2d">
            <app-cat-byformat-q></app-cat-byformat-q>
            <!-- //Top 10 category by format Q3 -->
        </div>
        <div lass="col2d">
          <div class="col2d">
             <app-cat-by-env></app-cat-by-env>
            <!-- //Top 10 category by Environment -->
          </div>
          <div class="col2d">
              <app-cat-by-envstack></app-cat-by-envstack>
              <!-- //Top 10 stack by Environment --> 
          </div>
          <div class="col2d">
              <app-cat-by-env-qt></app-cat-by-env-qt>
               <!-- //Top 10 category by Environment Q3 -->  
          </div>
          <div class="col2d">
            <app-cat-by-regi></app-cat-by-regi>
              <!-- //Top 10 category by Region -->         
          </div>
          <div class="col2d">
            <app-cat-by-registack></app-cat-by-registack>
              <!-- //Top 10 stack by Region -->            
          </div>
          <div class="col2d">
              <mat-card>
                <app-cat-by-regi-qt></app-cat-by-regi-qt>
                <!-- //Top 10 category by Region Q3 -->
              </mat-card>
          </div>
        </div>
      </div>
      <button mat-button (click)="onDownloadPdf()"></button>
