<div class="col1">
    <div class="col2a">
      <div >
        <app-top-cat-twinty></app-top-cat-twinty>


          <!-- <app-dashboard></app-dashboard> -->
        <!-- <canvas id="aadQChart" width="400" height="400"></canvas> -->
      </div>
    </div>
    <div class="col2b">
      <div >
        <app-cat-ninteen></app-cat-ninteen>

        
        <!-- <canvas id="AChart" width="400" height="400"></canvas> -->
      </div>
    </div>
    <div class="col2c">
      <div >
        <app-top-quater-one-twinty></app-top-quater-one-twinty>
        <!-- <app-top-quater-one-nine></app-top-quater-one-nine> -->
        <!-- <canvas id="adQChart" width="400" height="400"></canvas> -->
      </div>
    </div>
    <div class="col2d">
      <div>
        <app-top-quater-one-nine></app-top-quater-one-nine>
        <!-- <app-top-quater-t></app-top-quater-t> -->


        <!-- <canvas id="myChart" width="400" height="400"></canvas> -->
      
      </div>
    </div>
    <div class="col2d">
      <div>
        
        <app-top-quater-t></app-top-quater-t>


        <!-- <canvas id="myChart" width="400" height="400"></canvas> -->
      
      </div>
    </div>
    <div class="col2d">
      <div>
        
        <!-- <app-top-quater-t></app-top-quater-t> -->


        <!-- <canvas id="myChart" width="400" height="400"></canvas> -->
      
      </div>
    </div>
    <div class="col2d">
      <div>
        <app-twinty-one-qthree></app-twinty-one-qthree>
        
        <!-- <app-top-quater-t></app-top-quater-t> -->


        <!-- <canvas id="myChart" width="400" height="400"></canvas> -->
      
      </div>
    </div>
    <div class="col2d">
      <div>
        <app-twity-one></app-twity-one>
      </div>
    </div>
</div>


